
<div class="title card my-2">
  <div class="card-header d-flex align-items-center gap-2">
    <h3 class="mb-0">
      @if (outputDescriptor().htmlSourceProvider) {
        <img class="technology-icon" src="assets/img/html-src-logo-black.svg" alt="HTML">
      }
      @if (outputDescriptor().domInjector) {
        <img class="technology-icon" src="assets/img/dom-logo-black.svg" alt="DOM">
      }
      @if (outputDescriptor().jQueryInjector) {
        <img class="technology-icon" src="assets/img/jquery-logo-black.svg" alt="jQuery">
      }
      @if (outputDescriptor().templateComponentType) {
        <img class="technology-icon" src="assets/img/angular-logo-solid-black.svg" alt="Angular">
      }
      <span> {{ outputDescriptor().title }} </span>
      @if (outputDescriptor().quality === PayloadOutputQuality.Recommended) {
        <span class="sap-icon--accept"></span>
      }
      @if (outputDescriptor().quality === PayloadOutputQuality.Questionable) {
        <span class="sap-icon--question-mark"></span>
      }
      @if (outputDescriptor().quality === PayloadOutputQuality.Insecure) {
        <span class="sap-icon--alert"></span>
      }
    </h3>
  </div>
</div>

@if (outputDescriptor().payloadProcessor) {
  <div class="payload-processor accordion my-2">
    <div class="accordion-item">
      <h4 class="accordion-header">
        <button
          type="button"
          class="accordion-button"
          aria-expanded="true"
          [attr.aria-controls]="'xss-payload-output-component-' + componentId + '-payload-processor-panel'"
          (click)="togglePanel($event)">
          Payload Processor Function
        </button>
      </h4>
      <div
        [id]="'xss-payload-output-component-' + componentId + '-payload-processor-panel'"
        class="accordion-collapse collapse show"
        role="region">
        <div
          class="accordion-body"
          [textContent]="outputDescriptor().payloadProcessor | stripextraindent">
        </div>
      </div>
    </div>
  </div>
}

@if (outputDescriptor().htmlSourceProvider) {
  <div class="html-source-provider accordion my-2">
    <div class="accordion-item">
      <h4 class="accordion-header">
        <button
          type="button"
          class="accordion-button"
          aria-expanded="true"
          [attr.aria-controls]="'xss-payload-output-component-' + componentId + '-html-source-provider-panel'"
          (click)="togglePanel($event)">
          HTML Source Provider Function
        </button>
      </h4>
      <div
        [id]="'xss-payload-output-component-' + componentId + '-html-source-provider-panel'"
        class="accordion-collapse collapse show"
        role="region">
        <div
          class="accordion-body"
          [textContent]="outputDescriptor().htmlSourceProvider | stripextraindent">
        </div>
      </div>
    </div>
  </div>
}

@if (outputDescriptor().domInjector) {
  <div class="dom-injector accordion my-2">
    <div class="accordion-item">
      <h4 class="accordion-header">
        <button
          type="button"
          class="accordion-button"
          aria-expanded="true"
          [attr.aria-controls]="'xss-payload-output-component-' + componentId + '-dom-injector-panel'"
          (click)="togglePanel($event)">
          DOM Injector Function
        </button>
      </h4>
      <div
        [id]="'xss-payload-output-component-' + componentId + '-dom-injector-panel'"
        class="accordion-collapse collapse show"
        role="region">
        <div
          class="accordion-body"
          [textContent]="outputDescriptor().domInjector | stripextraindent">
        </div>
      </div>
    </div>
  </div>
}

@if (outputDescriptor().jQueryInjector) {
  <div class="jquery-injector accordion my-2">
    <div class="accordion-item">
      <h4 class="accordion-header">
        <button
          type="button"
          class="accordion-button"
          aria-expanded="true"
          [attr.aria-controls]="'xss-payload-output-component-' + componentId + '-jquery-injector-panel'"
          (click)="togglePanel($event)">
          jQuery Injector Function
        </button>
      </h4>
      <div
        [id]="'xss-payload-output-component-' + componentId + '-jquery-injector-panel'"
        class="accordion-collapse collapse show"
        role="region">
        <div
          class="accordion-body"
          [textContent]="outputDescriptor().jQueryInjector | stripextraindent">
        </div>
      </div>
    </div>
  </div>
}

@if (outputDescriptor().templateComponentType) {
  <div class="template-code accordion my-2">
    <div class="accordion-item">
      <h4 class="accordion-header">
        <button
          type="button"
          class="accordion-button"
          aria-expanded="true"
          [attr.aria-controls]="'xss-payload-output-component-' + componentId + '-template-code-panel'"
          (click)="togglePanel($event)">
          Angular Template Code
        </button>
      </h4>
      <div
        [id]="'xss-payload-output-component-' + componentId + '-template-code-panel'"
        class="accordion-collapse collapse show"
        role="region">
        <div
          class="accordion-body"
          [textContent]="outputDescriptor().templateComponentType.templateCode | stripextraindent">
        </div>
      </div>
    </div>
  </div>
}

<div
  class="live-output card my-2"
  aria-expanded="true">
  <div class="card-header d-flex align-items-center gap-2">
    <h4 class="mb-0">Live HTML Output</h4>
    <div class="ms-auto d-flex align-items-center gap-2">
      @if (!autoUpdateEnabled()) {
        <span>
          <a href="#" (click)="updateNow()">Update now</a>
          –
        </span>
      }
      <label>
        <input  type="checkbox" [(ngModel)]="autoUpdateEnabled">
        Auto update
      </label>
    </div>
  </div>
  <div #liveOutputElement role="region" class="card-body">
    <ng-template #liveOutputViewContainer></ng-template>
  </div>
</div>

<div class="live-source-code accordion my-2">
  <div class="accordion-item">
    <h4 class="accordion-header">
      <button
        type="button"
        class="accordion-button"
        aria-expanded="true"
        [attr.aria-controls]="'xss-payload-output-component-' + componentId + '-live-source-code-panel'"
        (click)="togglePanel($event)">
        Live HTML Source Code
      </button>
    </h4>
    <div
      [id]="'xss-payload-output-component-' + componentId + '-live-source-code-panel'"
      class="accordion-collapse collapse show"
      role="region">
      <div
        class="accordion-body"
        [textContent]="liveSourceCode() | stripextraindent">
      </div>
    </div>
  </div>
</div>
