.card {
  --bs-card-cap-bg: var(--bs-primary-bg-subtle);
}

.card .card-header h3 img,
.card .card-header h3 span {
  vertical-align: middle;
}

.title .card-header .technology-icon {
  width: 2em;
  height: 2em;
  opacity: 0.8;
}

.card .card-header .sap-icon--accept::before {
  content: "\2714";
}

.card .card-header .sap-icon--question-mark::before {
  content: "\2370";
}

.card .card-header .sap-icon--alert::before {
  content: "\26A0";
}

.payload-processor .accordion-body,
.html-source-provider .accordion-body,
.dom-injector .accordion-body,
.jquery-injector .accordion-body,
.template-code .accordion-body,
.live-source-code .accordion-body {
  font-family: monospace;
  white-space-collapse: preserve;
}
