.card .card-header h3 img,
.card .card-header h3 span {
  vertical-align: middle;
}

.title .card-header .technology-icon {
  width: 2em;
  height: 2em;
  opacity: 0.8;
}

.card[aria-expanded="false"] .card-body {
  display: none;
}

.card[aria-expanded="true"] .card-header button.btn-link i::before {
  content: "\02C5";
}

.card[aria-expanded="false"] .card-header button.btn-link i::before {
  content: "\02C3";
}

.card .card-header .sap-icon--accept::before {
  content: "\2714";
}

.card .card-header .sap-icon--question-mark::before {
  content: "\2370";
}

.card .card-header .sap-icon--alert::before {
  content: "\26A0";
}

.payload-processor .card-body,
.html-source-provider .card-body,
.dom-injector .card-body,
.jquery-injector .card-body,
.template-code .card-body,
.live-source-code .card-body {
  font-family: monospace;
  white-space-collapse: preserve;
}
