.accordion {
  --bs-accordion-btn-bg: var(--bs-primary-bg-subtle);
}

.accordion .accordion-button {
  font-size: inherit;
  font-weight: inherit;
}

.accordion h4.accordion-header {
  font-size: 1.2rem;
}

.card {
  --bs-card-cap-bg: var(--bs-primary-bg-subtle);
  --bs-card-cap-padding-y: 1rem;
}

.card .card-header h4 {
  font-size: 1.2rem;
}

.title.card .card-header h3 {
  font-size: 1.5rem;
}

.title.card .card-header h3 img,
.title.card .card-header h3 span {
  vertical-align: middle;
}

.title.card .card-header .technology-icon {
  width: 1.5em;
  height: 1.5em;
  opacity: 0.8;
}

.payload-processor .accordion-body,
.html-source-provider .accordion-body,
.dom-injector .accordion-body,
.jquery-injector .accordion-body,
.template-code .accordion-body,
.live-source-code .accordion-body {
  font-family: monospace;
  white-space-collapse: preserve;
}
