.fd-shell__header {
  height: auto;
}

.fd-shell__header h1 {
  text-align: center;
  color: var(--bs-primary-text-emphasis);
}

.fd-dynamic-page__content.xss-triggered {
  background-color: var(--bs-danger-bg-subtle) !important;
}

.input-area textarea.payload {
  box-sizing: border-box;
  height: 30em;
  width: 100%;
  padding: 0.8em;
  resize: vertical;
  border-style: solid;
  border-width: thin;
  border-radius: 0.4rem;
}

.output-area .fd-list__item span,
.output-area .fd-list__item img.technology-icon {
  vertical-align: middle;
}

.output-area .technology-icon {
  width: 1.4em;
  height: 1.4em;
}

.output-area button[aria-selected=true] .technology-icon,
.output-area button.active .technology-icon {
  filter: invert(1);
}

.output-area button[aria-selected=true]:hover .technology-icon,
.output-area button.active:hover .technology-icon {
  filter: unset;
}

.output-area .sap-icon--accept::before {
  content: "\2714";
}

.output-area .sap-icon--question-mark::before {
  content: "\2370";
}

.output-area .sap-icon--alert::before {
  content: "\26A0";
}

.fd-shell__overlay {
  display: flex;
  position: fixed;
  left: 50%;
  top: 4rem;
  transform: translate(-50%,0);
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
