<div class="d-flex flex-column min-vh-100">

  <header class="container-fluid">
    <h1>XSS Demo</h1>
    <div class="xss-alert-overlay">
      @if (xssTriggeredCounter) {
        <div [id]="'xss-demo-component-' + componentId + '-xss-alert'" class="alert-xss-triggered alert alert-danger alert-dismissible" role="alert">
          <p class="mb-0">
            @if (xssTriggeredCounter > 1) {
              <span class="badge bg-danger rounded-pill">{{ xssTriggeredCounter }}</span>
            }
            <span> {{ xssMessage }}</span>
          </p>
          <button
            (click)="resetXss()"
            [attr.aria-controls]="'xss-demo-component-' + componentId + '-xss-alert'"
            class="btn-close"
            title="Close">
          </button>
        </div>
      }
    </div>
  </header>

  <article class="container-fluid flex-fill" [class.xss-triggered]="xssTriggeredCounter">
    <main class="row g-3 align-items-start">

      <section class="input-area col-12 col-lg-6">

        <h2>
          Payload Input
          <span
            class="help-icon"
            tabindex="0"
            role="note"
            triggers="focus"
            placement="auto"
            container="body"
            autoClose="outside"
            popoverTitle="Payload Input"
            [ngbPopover]="payloadInputDocumentation"
            >ⓘ</span>
          <ng-template #payloadInputDocumentation>
            <p>
              Input area for <em>XSS Attack Payload</em> to test against example web application code in the <em>Payload Output</em> area.
            </p>
            <p>
              Select one of the <em>Payload Presets</em> from the menu and customize it!
              Or, simply write your own <em>XSS Attack Payload</em> from scratch!
            </p>
          </ng-template>
        </h2>

        <xss-combobox-input
          class="payload-presets-menu"
          [items]="presetItems"
          [groups]="presetGroups"
          placeholder="Select a Payload Preset ...">
        </xss-combobox-input>

        <div class="card my-2">
          <div class="card-body">
            <textarea
              class="payload-input"
              [(ngModel)]="payload"
              placeholder="Enter your XSS Attack Payload in this Paylaod Input field! Or, select a Payload Preset from the above menu...">
            </textarea>
          </div>
        </div>

      </section>



      <section class="output-area col-12 col-lg-6">

        <h2>
          Payload Output
          <span
            class="help-icon"
            tabindex="0"
            role="note"
            triggers="focus"
            placement="auto"
            container="body"
            autoClose="outside"
            popoverTitle="Payload Output"
            [ngbPopover]="payloadOurputDocumentation"
            >ⓘ</span>
          <ng-template #payloadOurputDocumentation>
            <p>
              Output area for <em>XSS Attack Payload</em> from the <em>Payload Input</em> area.
            </p>
            <p>
              Select any of the predefined <em>Payload Outputs</em> and test your <em>XSS Attack Payload</em> against it!
              A <em>Payload Output</em> is a snippet of example web application code. 
              It processes potential <em>XSS Attack Payload</em> and emits it into the <em>Live HTML Output</em> area below.
              See below ⓘ buttons and icons for details!
            </p>
            <p>
              Currently, you cannot define your own custom <em>Payload Outputs</em>.
            </p>
          </ng-template>
        </h2>

        <xss-combobox-input
          class="payload-outputs-menu"
          [items]="payloadOutputFilters"
          [groups]="payloadOutputGroups"
          placeholder="Select a payload output...">
        </xss-combobox-input>

        <ng-template #payloadOutputMenuTechnologyFilters let-item="item" let-comboboxInput>
          <li class="list-group-item py-2">
            <div class="filters filters-technology d-flex align-items-center gap-2 flex-wrap">
              <span>{{ item.name }}</span>
              <div class="btn-group" role="group">
                <button
                  class="btn btn-outline-secondary"
                  (click)="togglePayloadOutputTechnologyFilter(PayloadOutputTechnology.HTML)"
                  [attr.aria-selected]="payloadOutputTechnologyFilters.includes(PayloadOutputTechnology.HTML)"
                  [class.active]="payloadOutputTechnologyFilters.includes(PayloadOutputTechnology.HTML)">
                  <span class="technology-icon technology-html"></span>
                  <span> HTML </span>
                </button>
                <button
                  class="btn btn-outline-secondary"
                  (click)="togglePayloadOutputTechnologyFilter(PayloadOutputTechnology.DOM)"
                  [attr.aria-selected]="payloadOutputTechnologyFilters.includes(PayloadOutputTechnology.DOM)"
                  [class.active]="payloadOutputTechnologyFilters.includes(PayloadOutputTechnology.DOM)">
                  <span class="technology-icon technology-dom"></span>
                  <span> DOM </span>
                </button>
                <button
                  class="btn btn-outline-secondary"
                  (click)="togglePayloadOutputTechnologyFilter(PayloadOutputTechnology.jQuery)"
                  [attr.aria-selected]="payloadOutputTechnologyFilters.includes(PayloadOutputTechnology.jQuery)"
                  [class.active]="payloadOutputTechnologyFilters.includes(PayloadOutputTechnology.jQuery)">
                  <span class="technology-icon technology-jquery"></span>
                  <span> jQuery </span>
                </button>
                <button
                  class="btn btn-outline-secondary"
                  (click)="togglePayloadOutputTechnologyFilter(PayloadOutputTechnology.Angular)"
                  [attr.aria-selected]="payloadOutputTechnologyFilters.includes(PayloadOutputTechnology.Angular)"
                  [class.active]="payloadOutputTechnologyFilters.includes(PayloadOutputTechnology.Angular)">
                  <span class="technology-icon technology-angular"></span>
                  <span> Angular </span>
                </button>
              </div>
            </div>
          </li>
        </ng-template>

        <ng-template #payloadOutputMenuQualityFilters let-item="item" let-comboboxInput>
          <li class="list-group-item py-2">
            <div class="filters filters-quality d-flex align-items-center gap-2 flex-wrap">
              <span>{{ item.name }}</span>
              <div class="btn-group" role="group">
                <button
                  class="btn btn-outline-secondary"
                  (click)="togglePayloadOutputQualityFilter(PayloadOutputQuality.Recommended)"
                  [attr.aria-selected]="payloadOutputQualityFilters.includes(PayloadOutputQuality.Recommended)"
                  [class.active]="payloadOutputQualityFilters.includes(PayloadOutputQuality.Recommended)">
                  <span>Recommended </span>
                  <span class="quality-icon quality-recommended"></span>
                </button>
                <button
                  class="btn btn-outline-secondary"
                  (click)="togglePayloadOutputQualityFilter(PayloadOutputQuality.Questionable)"
                  [attr.aria-selected]="payloadOutputQualityFilters.includes(PayloadOutputQuality.Questionable)"
                  [class.active]="payloadOutputQualityFilters.includes(PayloadOutputQuality.Questionable)">
                  <span> Questionable </span>
                  <span class="quality-icon quality-questionable"></span>
                </button>
                <button
                  class="btn btn-outline-secondary"
                  (click)="togglePayloadOutputQualityFilter(PayloadOutputQuality.Insecure)"
                  [attr.aria-selected]="payloadOutputQualityFilters.includes(PayloadOutputQuality.Insecure)"
                  [class.active]="payloadOutputQualityFilters.includes(PayloadOutputQuality.Insecure)">
                  <span> Insecure </span>
                  <span class="quality-icon quality-insecure"></span>
                </button>
              </div>
            </div>
          </li>
        </ng-template>

        <ng-template #payloadOutputMenuItem let-item="item" let-comboboxInput>
          @if (comboboxInput.filter(item)) {
            <li
              class="list-group-item list-group-item-action btn"
              (click)="comboboxInput.select(item, $event)"
              (keypress)="comboboxInput.select(item, $event)"
              tabindex="0">

              <span>
                <span
                  [class]="'technology-icon technology-' + item.value.technology.toLowerCase()"
                  [attr.aria-label]="item.value.technology"></span>
                <span
                  class="quality-icon"
                  [class]="'quality-icon quality-' + item.value.quality.toLowerCase()">
                </span>
                {{ item.name }}
              </span>
            </li>
          }
        </ng-template>

        <xss-payload-output
          [outputDescriptor]="activePayloadOutput()"
          [payload]="payload()"
          (onbeforeupdate)="resetXss()">
        </xss-payload-output>
      </section>

    </main>
  </article>

</div>
