header {
  height: auto;
  padding: 0.5px;
  background-color: var(--bs-primary);
}

header h1 {
  line-height: inherit;
  text-align: center;
  font-weight: bold;
  color: var(--bs-emphasis-color);
}

main {
  margin-top: 1rem;
}

main section h2 {
  text-align: center;
}

.input-area textarea.payload {
  box-sizing: border-box;
  height: 30em;
  width: 100%;
  padding: 0.8em;
  resize: vertical;
  border-style: solid;
  border-width: thin;
  border-radius: 0.4rem;
}

.output-area .list-group-item span,
.output-area .list-group-item img.technology-icon {
  vertical-align: middle;
}

.output-area .technology-icon {
  width: 1.4em;
  height: 1.4em;
}

.output-area button[aria-selected=true] .technology-icon,
.output-area button.active .technology-icon {
  filter: invert(1);
}

.output-area button[aria-selected=true]:hover .technology-icon,
.output-area button.active:hover .technology-icon {
  filter: unset;
}

article.xss-triggered {
  background-color: var(--bs-danger-bg-subtle) !important;
}

.xss-alert-overlay {
  display: flex;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -33%);
  align-items: center;
  justify-content: center;
}

.xss-alert-overlay .alert {
  margin: 0;
  border-width: 0.2em;
  border-color: var(--bs-danger);
  vertical-align: middle;
}
