# hidden, temp, backup, log, archive files
.*
*~
*.tmp
*.bak
*.log
*.zip
*.tar
*.tar.*
*.tgz
*.tbz

# dependencies
/node_modules

# compiled output
/dist
/tmp
/out-tsc
/result*

# tls config
/tls/**/*.pem
/tls/**/*.key.pass.txt
/tls/private

# misc
/connect.lock
/coverage
/typings

# System Files
Thumbs.db
