.fd-layout-panel .fd-layout-panel__header h3,
.fd-layout-panel .fd-layout-panel__header h4 {
  font-weight: bold;
}

.fd-layout-panel .fd-layout-panel__header h3 img,
.fd-layout-panel .fd-layout-panel__header h3 span {
  vertical-align: middle;
}

.title .fd-layout-panel__header .technology-icon {
  width: 2em;
  height: 2em;
  opacity: 0.8;
}

.live-code .fd-layout-panel__body,
.payload-processor .fd-layout-panel__body,
.dom-injector .fd-layout-panel__body,
.html-source-provider .fd-layout-panel__body,
.template-code .fd-layout-panel__body {
  font-family: monospace;
}

.fd-layout-panel .fd-layout-panel__body[aria-hidden="true"] {
  display: none;
}
