.fd-layout-panel .fd-layout-panel__header h3,
.fd-layout-panel .fd-layout-panel__header h4 {
  font-weight: bold;
}

.fd-layout-panel .fd-layout-panel__header h3 img,
.fd-layout-panel .fd-layout-panel__header h3 span {
  vertical-align: middle;
}

.title .fd-layout-panel__header .technology-icon {
  width: 2em;
  height: 2em;
  opacity: 0.8;
}

.fd-layout-panel .fd-layout-panel__header .fd-layout-panel__title .sap-icon--accept::before {
  content: "\2714";
}

.fd-layout-panel .fd-layout-panel__header .fd-layout-panel__title .sap-icon--question-mark::before {
  content: "\2370";
}

.fd-layout-panel .fd-layout-panel__header .fd-layout-panel__title .sap-icon--alert::before {
  content: "\26A0";
}

.fd-layout-panel .fd-layout-panel__header .fd-layout-panel__expand button .sap-icon--slim-arrow-down::before {
  content: "\02C5";
}

.fd-layout-panel .fd-layout-panel__header .fd-layout-panel__expand button .sap-icon--slim-arrow-right::before {
  content: "\02C3";
}

.payload-processor .fd-layout-panel__body,
.html-source-provider .fd-layout-panel__body,
.dom-injector .fd-layout-panel__body,
.jquery-injector .fd-layout-panel__body,
.template-code .fd-layout-panel__body,
.live-source-code .fd-layout-panel__body {
  font-family: monospace;
  white-space-collapse: preserve;
}

.fd-layout-panel .fd-layout-panel__body[aria-hidden="true"] {
  display: none;
}
