<div *ngIf="active" class="fd-panel-grid fd-panel-grid--1col">

  <div class="title fd-panel">
    <div class="fd-panel__header">
      <div class="fd-panel__head">
        <h3 class="fd-panel__title">
          <img *ngIf="outputDescriptor.htmlSourceProvider" class="technology-icon" src="assets/img/html-src-logo-black.svg">
          <img *ngIf="outputDescriptor.domInjector" class="technology-icon" src="assets/img/dom-logo-black.svg">
          <img *ngIf="outputDescriptor.templateCode" class="technology-icon" src="assets/img/angular-logo-solid-black.svg">
          {{ outputDescriptor.title }}
          <span *ngIf="outputDescriptor.quality == 'Recommended'" class="sap-icon--accept"></span>
          <span *ngIf="outputDescriptor.quality == 'Questionable'" class="sap-icon--question-mark"></span>
          <span *ngIf="outputDescriptor.quality == 'Insecure'" class="sap-icon--alert"></span>
        </h3>
      </div>
    </div>
  </div>

  <div *ngIf="outputDescriptor.payloadProcessor" class="payload-processor fd-panel">
    <div class="fd-panel__header">
      <div class="fd-panel__head">
        <h4 class="fd-panel__title">Payload Processor Function</h4>
      </div>
      <div class="fd-panel__actions">
        <button
            class="fd-button--compact fd-button--standard fd-button--l sap-icon--s"
            [ngClass]="showPayloadProcessor ? 'sap-icon--navigation-down-arrow' : 'sap-icon--navigation-up-arrow'"
            [attr.aria-controls]="'paylaod-output-component-' + componentId + '-payload-processor-panel'"
            (click)="showPayloadProcessor = !showPayloadProcessor">
        </button>
      </div>
    </div>
    <div
        class="fd-panel__body"
        [id]="'paylaod-output-component-' + componentId + '-payload-processor-panel'"
        [attr.aria-hidden]="!showPayloadProcessor"
        [innerText]="outputDescriptor.payloadProcessor">
    </div>
  </div>

  <div *ngIf="outputDescriptor.htmlSourceProvider" class="html-source-provider fd-panel">
    <div class="fd-panel__header">
      <div class="fd-panel__head">
        <h4 class="fd-panel__title">HTML Source Provider Function</h4>
      </div>
      <div class="fd-panel__actions">
        <button
            class="fd-button--compact fd-button--standard fd-button--l sap-icon--s"
            [ngClass]="showHtmlSourceProvider ? 'sap-icon--navigation-down-arrow' : 'sap-icon--navigation-up-arrow'"
            [attr.aria-controls]="'paylaod-output-component-' + componentId + '-html-source-provider-panel'"
            (click)="showHtmlSourceProvider = !showHtmlSourceProvider"></button>
      </div>
    </div>
    <div
        class="fd-panel__body"
        [id]="'paylaod-output-component-' + componentId + '-html-source-provider-panel'"
        [attr.aria-hidden]="!showHtmlSourceProvider"
        [innerText]="outputDescriptor.htmlSourceProvider">
    </div>
  </div>

  <div *ngIf="outputDescriptor.domInjector" class="dom-injector fd-panel">
    <div class="fd-panel__header">
      <div class="fd-panel__head">
        <h4 class="fd-panel__title">DOM Injector Function</h4>
      </div>
      <div class="fd-panel__actions">
        <button
            class="fd-button--compact fd-button--standard fd-button--l sap-icon--s"
            [ngClass]="showDomInjector ? 'sap-icon--navigation-down-arrow' : 'sap-icon--navigation-up-arrow'"
            [attr.aria-controls]="'paylaod-output-component-' + componentId + '-dom-injector-panel'"
            (click)="showDomInjector = !showDomInjector"></button>
      </div>
    </div>
    <div
        class="fd-panel__body"
        [id]="'paylaod-output-component-' + componentId + '-dom-injector-panel'"
        [attr.aria-hidden]="!showDomInjector"
        [innerText]="outputDescriptor.domInjector">
    </div>
  </div>

  <div *ngIf="outputDescriptor.templateCode" class="template-code fd-panel">
    <div class="fd-panel__header">
      <div class="fd-panel__head">
        <h4 class="fd-panel__title">Angular Template Code</h4>
      </div>
      <div class="fd-panel__actions">
        <button
            class="fd-button--compact fd-button--standard fd-button--l sap-icon--s"
            [ngClass]="showTemplateCode ? 'sap-icon--navigation-down-arrow' : 'sap-icon--navigation-up-arrow'"
            [attr.aria-controls]="'paylaod-output-component-' + componentId + '-template-code-panel'"
            (click)="showTemplateCode = !showTemplateCode">
        </button>
      </div>
    </div>
    <div
        class="fd-panel__body"
        [id]="'paylaod-output-component-' + componentId + '-template-code-panel'"
        [attr.aria-hidden]="!showTemplateCode"
        [innerText]="outputDescriptor.templateCode">
    </div>
  </div>

  <div class="output fd-panel">
    <div class="fd-panel__header">
      <div class="fd-panel__head">
        <h4 class="fd-panel__title">Live HTML Output</h4>
      </div>
      <div class="fd-panel__actions">
        <span *ngIf="!autoUpdate">
          <a href="#" (click)="update()">Update now</a>
          –
        </span>

        <label>
          <span class="fd-toggle fd-toggle--xs fd-form__control">
            <input type="checkbox" [(ngModel)]="autoUpdate">
            <span class="fd-toggle__switch" role="presentation"></span>
          </span>
          Auto update output
        </label>
      </div>
    </div>
    <div #output class="fd-panel__body">
      <ng-content></ng-content>
    </div>
  </div>

  <div class="fd-panel live-code">
    <div class="fd-panel__header">
      <div class="fd-panel__head">
        <h4 class="fd-panel__title">Live HTML Source Code</h4>
      </div>
      <div class="fd-panel__actions">
        <button
            class="fd-button--compact fd-button--standard fd-button--l sap-icon--s"
            [ngClass]="showLiveCode ? 'sap-icon--navigation-down-arrow' : 'sap-icon--navigation-up-arrow'"
            [attr.aria-controls]="'paylaod-output-component-' + componentId + '-live-code-panel'"
            (click)="showLiveCode = !showLiveCode">
        </button>
      </div>
    </div>
    <div
        class="fd-panel__body"
        [id]="'paylaod-output-component-' + componentId + '-live-code-panel'"
        [attr.aria-hidden]="!showLiveCode"
        [innerText]="liveCode">
    </div>
  </div>

</div>
