
  <div class="title fd-layout-panel fd-margin-top-bottom--sm">
    <div class="fd-layout-panel__header">
      <h3 class="fd-layout-panel__title">
        <img *ngIf="outputDescriptor().htmlSourceProvider" class="technology-icon" src="assets/img/html-src-logo-black.svg">
        <img *ngIf="outputDescriptor().domInjector" class="technology-icon" src="assets/img/dom-logo-black.svg">
        <img *ngIf="outputDescriptor().jQueryInjector" class="technology-icon" src="assets/img/jquery-logo-black.svg">
        <img *ngIf="outputDescriptor().templateComponentType" class="technology-icon" src="assets/img/angular-logo-solid-black.svg">
        <span> {{ outputDescriptor().title }} </span>
        <span *ngIf="outputDescriptor().quality == PayloadOutputQuality.Recommended" class="sap-icon--accept"></span>
        <span *ngIf="outputDescriptor().quality == PayloadOutputQuality.Questionable" class="sap-icon--question-mark"></span>
        <span *ngIf="outputDescriptor().quality == PayloadOutputQuality.Insecure" class="sap-icon--alert"></span>
      </h3>
    </div>
  </div>

  <div *ngIf="outputDescriptor().payloadProcessor" class="payload-processor fd-layout-panel fd-margin-top-bottom--sm">
    <div class="fd-layout-panel__header">
      <div class="fd-layout-panel__expand">
        <button
            class="fd-button fd-button--transparent fd-layout-panel__button"
            (click)="showPayloadProcessor = !showPayloadProcessor"
            aria-controls="'paylaod-output-component-' + componentId + '-payload-processor-panel'">
                <i [ngClass]="showPayloadProcessor ? 'sap-icon--slim-arrow-down' : 'sap-icon--slim-arrow-right'" class=""></i>
        </button>
      </div>
      <h4 class="fd-layout-panel__title">Payload Processor Function</h4>
    </div>
    <div
        role="region"
        class="fd-layout-panel__body"
        [id]="'paylaod-output-component-' + componentId + '-payload-processor-panel'"
        [attr.aria-hidden]="!showPayloadProcessor"
        [textContent]="outputDescriptor().payloadProcessor | stripextraindent">
    </div>
  </div>

  <div *ngIf="outputDescriptor().htmlSourceProvider" class="html-source-provider fd-layout-panel fd-margin-top-bottom--sm">
    <div class="fd-layout-panel__header">
      <div class="fd-layout-panel__expand">
        <button
            class="fd-button fd-button--transparent fd-layout-panel__button"
            (click)="showHtmlSourceProvider = !showHtmlSourceProvider"
            aria-controls="'paylaod-output-component-' + componentId + '-html-source-provider-panel'">
                <i [ngClass]="showHtmlSourceProvider ? 'sap-icon--slim-arrow-down' : 'sap-icon--slim-arrow-right'" class=""></i>
        </button>
      </div>
      <h4 class="fd-layout-panel__title">HTML Source Provider Function</h4>
    </div>
    <div
        role="region"
        class="fd-layout-panel__body"
        [id]="'paylaod-output-component-' + componentId + '-html-source-provider-panel'"
        [attr.aria-hidden]="!showHtmlSourceProvider"
        [textContent]="outputDescriptor().htmlSourceProvider | stripextraindent">
    </div>
  </div>

  <div *ngIf="outputDescriptor().domInjector" class="dom-injector fd-layout-panel fd-margin-top-bottom--sm">
    <div class="fd-layout-panel__header">
      <div class="fd-layout-panel__expand">
        <button
            class="fd-button fd-button--transparent fd-layout-panel__button"
            (click)="showDomInjector = !showDomInjector"
            aria-controls="'paylaod-output-component-' + componentId + '-dom-injector-panel'">
                <i [ngClass]="showDomInjector ? 'sap-icon--slim-arrow-down' : 'sap-icon--slim-arrow-right'" class=""></i>
        </button>
      </div>
      <h4 class="fd-layout-panel__title">DOM Injector Function</h4>
    </div>
    <div
        role="region"
        class="fd-layout-panel__body"
        [id]="'paylaod-output-component-' + componentId + '-dom-injector-panel'"
        [attr.aria-hidden]="!showDomInjector"
        [textContent]="outputDescriptor().domInjector | stripextraindent">
    </div>
  </div>

  <div *ngIf="outputDescriptor().jQueryInjector" class="jquery-injector fd-layout-panel fd-margin-top-bottom--sm">
    <div class="fd-layout-panel__header">
      <div class="fd-layout-panel__expand">
        <button
            class="fd-button fd-button--transparent fd-layout-panel__button"
            (click)="showJQueryInjector = !showJQueryInjector"
            aria-controls="'paylaod-output-component-' + componentId + '-jquery-injector-panel'">
                <i [ngClass]="showJQueryInjector ? 'sap-icon--slim-arrow-down' : 'sap-icon--slim-arrow-right'" class=""></i>
        </button>
      </div>
      <h4 class="fd-layout-panel__title">jQuery Injector Function</h4>
    </div>
    <div
        role="region"
        class="fd-layout-panel__body"
        [id]="'paylaod-output-component-' + componentId + '-jquery-injector-panel'"
        [attr.aria-hidden]="!showJQueryInjector"
        [textContent]="outputDescriptor().jQueryInjector | stripextraindent">
    </div>
  </div>

  <div *ngIf="outputDescriptor().templateComponentType" class="template-code fd-layout-panel fd-margin-top-bottom--sm">
    <div class="fd-layout-panel__header">
      <div class="fd-layout-panel__expand">
        <button
            class="fd-button fd-button--transparent fd-layout-panel__button"
            (click)="showTemplateCode = !showTemplateCode"
            aria-controls="'paylaod-output-component-' + componentId + '-payload-processor-panel'">
                <i [ngClass]="showTemplateCode ? 'sap-icon--slim-arrow-down' : 'sap-icon--slim-arrow-right'" class=""></i>
        </button>
      </div>
      <h4 class="fd-layout-panel__title">Angular Template Code</h4>
    </div>
    <div
        role="region"
        class="fd-layout-panel__body"
        [id]="'paylaod-output-component-' + componentId + '-template-code-panel'"
        [attr.aria-hidden]="!showTemplateCode"
        [textContent]="outputDescriptor().templateComponentType.templateCode | stripextraindent">
    </div>
  </div>

  <div class="live-output fd-layout-panel fd-margin-top-bottom--sm">
    <div class="fd-layout-panel__header">
      <h4 class="fd-layout-panel__title">Live HTML Output</h4>
      <div class="fd-layout-panel__actions">
        <span *ngIf="!autoUpdate()">
          <a href="#" (click)="update()">Update now</a>
          –
        </span>
        <label>
          <input  type="checkbox" [(ngModel)]="autoUpdate">
          Auto update
        </label>
      </div>
    </div>
    <div #liveOutputElement role="region" class="fd-layout-panel__body">
      <ng-template #liveOutputViewContainer></ng-template>
    </div>
  </div>

  <div class="fd-layout-panel live-source-code fd-margin-top-bottom--sm">
    <div class="fd-layout-panel__header">
      <div class="fd-layout-panel__expand">
        <button
            class="fd-button fd-button--transparent fd-layout-panel__button"
            (click)="showLiveSourceCode = !showLiveSourceCode"
            aria-controls="'paylaod-output-component-' + componentId + '-payload-processor-panel'">
                <i [ngClass]="showLiveSourceCode ? 'sap-icon--slim-arrow-down' : 'sap-icon--slim-arrow-right'" class=""></i>
        </button>
      </div>
      <h4 class="fd-layout-panel__title">Live HTML Source Code</h4>
    </div>
    <div
        role="region"
        class="fd-layout-panel__body"
        [id]="'paylaod-output-component-' + componentId + '-live-source-code-panel'"
        [attr.aria-hidden]="!showLiveSourceCode"
        [textContent]="liveSourceCode() | stripextraindent">
    </div>
  </div>
