<div class="fd-shell fd-shell--fixed">

  <header class="fd-shell__header">
    <h1>Cross-Site-Scripting (XSS) Demo</h1>
  </header>

  <article class="fd-shell__app fd-dynamic-page">
    <main class="fd-dynamic-page__content" [class.xss-triggered]="xssTriggered">
      <div class="fd-container">
        <div class="fd-row">



          <section class="input-area fd-section fd-col--6">

            <h2>Payload Input</h2>

            <div>

              <combobox-input [items]="presetItems" [groups]="presetGroups" placeholder="Select a preset ..."></combobox-input>

              <div class="fd-layout-panel fd-margin-top-bottom--sm">
                <div class="fd-layout-panel__body">
                  <textarea name="payload" class="payload" [(ngModel)]="payload" placeholder="Write your attack code here, or select one of the presets above..."></textarea>
                </div>
              </div>

            </div>

          </section>



          <section class="output-area fd-section fd-col--6">

            <h2>Payload Output</h2>

            <div>

              <combobox-input [items]="payloadOutputFilters" [groups]="payloadOutputGroups" placeholder="Select a payload output..."></combobox-input>

              <ng-template #payloadOutputMenuTechnologyFilters let-item="item" let-comboboxInput>
                <li class="fd-list__item">
                  <div class="fddocs-button-container filters filters-technology">
                    <span class="sap-icon--filter"></span>
                    <span> {{ item.name }} </span>
                    <button
                        class="fd-button"
                        (click)="togglePayloadOutputTechnologyFilter('htmlSourceProvider')"
                        [attr.aria-selected]="payloadOutputTechnologyFilters.includes('htmlSourceProvider')">
                      <img class="technology-icon" src="assets/img/html-src-logo-black.svg">
                      <span> HTML </span>
                    </button>
                    <button
                        class="fd-button"
                        (click)="togglePayloadOutputTechnologyFilter('domInjector')"
                        [attr.aria-selected]="payloadOutputTechnologyFilters.includes('domInjector')">
                      <img class="technology-icon" src="assets/img/dom-logo-black.svg">
                      <span> DOM </span>
                    </button>
                    <button
                        class="fd-button"
                        (click)="togglePayloadOutputTechnologyFilter('jQueryInjector')"
                        [attr.aria-selected]="payloadOutputTechnologyFilters.includes('jQueryInjector')">
                      <img class="technology-icon" src="assets/img/jquery-logo-black.svg">
                      <span> jQuery </span>
                    </button>
                    <button
                        class="fd-button"
                        (click)="togglePayloadOutputTechnologyFilter('templateCode')"
                        [attr.aria-selected]="payloadOutputTechnologyFilters.includes('templateCode')">
                      <img class="technology-icon" src="assets/img/angular-logo-solid-black.svg">
                      <span> Angular </span>
                    </button>
                  </div>
                </li>
              </ng-template>

              <ng-template #payloadOutputMenuQualityFilters let-item="item" let-comboboxInput>
                <li class="fd-list__item">
                  <div class="fddocs-button-container filters filters-quality">
                    <span class="sap-icon--filter"></span>
                    {{ item.name }}
                    <button
                        class="fd-button"
                        (click)="togglePayloadOutputQualityFilter(PayloadOutputQuality.Recommended)"
                        [attr.aria-selected]="payloadOutputQualityFilters.includes(PayloadOutputQuality.Recommended)">
                      <span>Recommended </span>
                      <span class="sap-icon--accept"></span>
                    </button>
                    <button
                        class="fd-button"
                        (click)="togglePayloadOutputQualityFilter(PayloadOutputQuality.Questionable)"
                        [attr.aria-selected]="payloadOutputQualityFilters.includes(PayloadOutputQuality.Questionable)">
                      <span> Questionable </span>
                      <span class="sap-icon--question-mark"></span>
                    </button>
                    <button
                        class="fd-button"
                        (click)="togglePayloadOutputQualityFilter(PayloadOutputQuality.Insecure)"
                        [attr.aria-selected]="payloadOutputQualityFilters.includes(PayloadOutputQuality.Insecure)">
                      <span> Insecure </span>
                      <span class="sap-icon--alert"></span>
                    </button>
                  </div>
                </li>
              </ng-template>

              <ng-template #payloadOutputMenuItem let-item="item" let-comboboxInput>
                <ng-container *ngIf="comboboxInput.filter(item)">
                  <li class="fd-list__item">
                    <a
                        (click)="comboboxInput.select(item, $event)"
                        class="fd-list__title">
                      <img *ngIf="item.value.htmlSourceProvider" class="technology-icon" src="assets/img/html-src-logo-black.svg">
                      <img *ngIf="item.value.domInjector" class="technology-icon" src="assets/img/dom-logo-black.svg">
                      <img *ngIf="item.value.jQueryInjector" class="technology-icon" src="assets/img/jquery-logo-black.svg">
                      <img *ngIf="item.value.templateCode" class="technology-icon" src="assets/img/angular-logo-solid-black.svg">
                      {{ item.name }}
                      <span *ngIf="item.value.quality == PayloadOutputQuality.Recommended" class="sap-icon--accept"></span>
                      <span *ngIf="item.value.quality == PayloadOutputQuality.Questionable" class="sap-icon--question-mark"></span>
                      <span *ngIf="item.value.quality == PayloadOutputQuality.Insecure" class="sap-icon--alert"></span>
                    </a>
                  </li>
                </ng-container>
              </ng-template>

              <div>
                <ng-container *ngFor="let context of payloadOutputService.descriptors">
                  <ng-container *ngFor="let output of context.items">
                    <payload-output
                        *ngIf="isActiveOutput(context.id, output.id)"
                        [outputContext]="context.id"
                        [outputDescriptor]="output"
                        [payload]="payload"
                        (change)="resetXss()">
                    </payload-output>
                  </ng-container>
                </ng-container>
              </div>
            </div>
          </section>



        </div>
      </div>
    </main>

  </article>

  <div class="fd-shell__overlay fd-overlay fd-overlay--alert">
    <div *ngIf="xssTriggered" [id]="'app-component-' + componentId + '-xss-alert'" class="fd-message-strip fd-message-strip--error fd-message-strip--dismissible alert-xss-triggered" role="note">
      <p class="fd-message-strip__text">
        <span *ngIf="xssTriggered > 1" class="fd-counter">{{ xssTriggered }} </span>
        <span> XSS has been triggered! </span>
      </p>
      <button
          (click)="resetXss()"
          [attr.aria-controls]="'app-component-' + componentId + '-xss-alert'"
          class="fd-button fd-button--transparent"
          title="Close">
        <i class="sap-icon--decline"></i>
      </button>
    </div>
  </div>

</div>
