<div class="fd-shell fd-shell--fixed">

  <header class="fd-shell__header">
    <h1>Cross-Site-Scripting (XSS) Demo</h1>
  </header>

  <article class="fd-shell__app fd-dynamic-page">
    <main class="fd-dynamic-page__content" [class.xss-triggered]="xssTriggered">
      <div class="fd-container">
        <div class="fd-row">



          <section class="input-area fd-section fd-col--6">

            <h2>Payload Input</h2>

            <div>

              <combobox-input [items]="presetItems" [groups]="presetGroups" placeholder="Select a preset ..."></combobox-input>

              <div class="fd-layout-panel fd-margin-top-bottom--sm">
                <div class="fd-layout-panel__body">
                  <textarea name="payload" class="payload" [(ngModel)]="payload" placeholder="Write your attack code here, or select one of the presets above..."></textarea>
                </div>
              </div>

            </div>

          </section>



          <section class="output-area fd-section fd-col--6">

            <h2>Payload Output</h2>

            <div>

              <combobox-input [items]="payloadOutputFilters" [groups]="payloadOutputGroups" placeholder="Select a payload output..."></combobox-input>

              <ng-template #payloadOutputMenuTechnologyFilters let-item="item" let-comboboxInput>
                <li class="fd-list__item">
                  <div class="fddocs-button-container filters filters-technology">
                    <span class="sap-icon--filter"></span>
                    <span> {{ item.name }} </span>
                    <button
                        class="fd-button"
                        (click)="togglePayloadOutputTechnologyFilter('htmlSourceProvider')"
                        [attr.aria-selected]="payloadOutputTechnologyFilters.includes('htmlSourceProvider')">
                      <img class="technology-icon" src="assets/img/html-src-logo-black.svg">
                      <span> HTML </span>
                    </button>
                    <button
                        class="fd-button"
                        (click)="togglePayloadOutputTechnologyFilter('domInjector')"
                        [attr.aria-selected]="payloadOutputTechnologyFilters.includes('domInjector')">
                      <img class="technology-icon" src="assets/img/dom-logo-black.svg">
                      <span> DOM </span>
                    </button>
                    <button
                        class="fd-button"
                        (click)="togglePayloadOutputTechnologyFilter('jQueryInjector')"
                        [attr.aria-selected]="payloadOutputTechnologyFilters.includes('jQueryInjector')">
                      <img class="technology-icon" src="assets/img/jquery-logo-black.svg">
                      <span> jQuery </span>
                    </button>
                    <button
                        class="fd-button"
                        (click)="togglePayloadOutputTechnologyFilter('templateCode')"
                        [attr.aria-selected]="payloadOutputTechnologyFilters.includes('templateCode')">
                      <img class="technology-icon" src="assets/img/angular-logo-solid-black.svg">
                      <span> Angular </span>
                    </button>
                  </div>
                </li>
              </ng-template>

              <ng-template #payloadOutputMenuQualityFilters let-item="item" let-comboboxInput>
                <li class="fd-list__item">
                  <div class="fddocs-button-container filters filters-quality">
                    <span class="sap-icon--filter"></span>
                    {{ item.name }}
                    <button
                        class="fd-button"
                        (click)="togglePayloadOutputQualityFilter(PayloadOutputQuality.Recommended)"
                        [attr.aria-selected]="payloadOutputQualityFilters.includes(PayloadOutputQuality.Recommended)">
                      <span>Recommended </span>
                      <span class="sap-icon--accept"></span>
                    </button>
                    <button
                        class="fd-button"
                        (click)="togglePayloadOutputQualityFilter(PayloadOutputQuality.Questionable)"
                        [attr.aria-selected]="payloadOutputQualityFilters.includes(PayloadOutputQuality.Questionable)">
                      <span> Questionable </span>
                      <span class="sap-icon--question-mark"></span>
                    </button>
                    <button
                        class="fd-button"
                        (click)="togglePayloadOutputQualityFilter(PayloadOutputQuality.Insecure)"
                        [attr.aria-selected]="payloadOutputQualityFilters.includes(PayloadOutputQuality.Insecure)">
                      <span> Insecure </span>
                      <span class="sap-icon--alert"></span>
                    </button>
                  </div>
                </li>
              </ng-template>

              <ng-template #payloadOutputMenuItem let-item="item" let-comboboxInput>
                <ng-container *ngIf="comboboxInput.filter(item)">
                  <li class="fd-list__item">
                    <a
                        (click)="comboboxInput.select(item, $event)"
                        class="fd-list__title">
                      <img *ngIf="item.value.htmlSourceProvider" class="technology-icon" src="assets/img/html-src-logo-black.svg">
                      <img *ngIf="item.value.domInjector" class="technology-icon" src="assets/img/dom-logo-black.svg">
                      <img *ngIf="item.value.jQueryInjector" class="technology-icon" src="assets/img/jquery-logo-black.svg">
                      <img *ngIf="item.value.templateCode" class="technology-icon" src="assets/img/angular-logo-solid-black.svg">
                      {{ item.name }}
                      <span *ngIf="item.value.quality == PayloadOutputQuality.Recommended" class="sap-icon--accept"></span>
                      <span *ngIf="item.value.quality == PayloadOutputQuality.Questionable" class="sap-icon--question-mark"></span>
                      <span *ngIf="item.value.quality == PayloadOutputQuality.Insecure" class="sap-icon--alert"></span>
                    </a>
                  </li>
                </ng-container>
              </ng-template>

              <div>

                <!-- All outputs *without* Angular template code -->

                <ng-container *ngFor="let context of payloadOutputService.descriptors">
                  <ng-container *ngFor="let output of context.items">
                    <payload-output
                        *ngIf="!output.templateCode && isActiveOutput(context.id, output.id)"
                        [outputDescriptor]="output"
                        [payload]="payload"
                        (change)="resetXss()">
                    </payload-output>
                  </ng-container>
                </ng-container>

                <!-- Outputs with Angular template code: HTML Content -->

                <payload-output
                    #output1
                    *ngIf="isActiveOutput(XssContext.HtmlContent, 'NgEncodedTemplate')"
                    [outputDescriptor]="payloadOutputService.outputDescriptorById(XssContext.HtmlContent,'NgEncodedTemplate')"
                    [payload]="payload"
                    (change)="resetXss()">
                  <template-output-encoded [payload]="output1.payload"></template-output-encoded>
                </payload-output>

                <payload-output
                    #output2
                    *ngIf="isActiveOutput(XssContext.HtmlContent, 'NgEncodedTextContent')"
                    [outputDescriptor]="payloadOutputService.outputDescriptorById(XssContext.HtmlContent, 'NgEncodedTextContent')"
                    [payload]="payload"
                    (change)="resetXss()">
                  <template-output-text-content [payload]="output2.payload"></template-output-text-content>
                </payload-output>

                <payload-output
                    #output3
                    *ngIf="isActiveOutput(XssContext.HtmlContent, 'NgEncodedInnerText')"
                    [outputDescriptor]="payloadOutputService.outputDescriptorById(XssContext.HtmlContent, 'NgEncodedInnerText')"
                    [payload]="payload"
                    (change)="resetXss()">
                  <template-output-inner-text [payload]="output3.payload"></template-output-inner-text>
                </payload-output>

                <payload-output
                    #output4
                    *ngIf="isActiveOutput(XssContext.HtmlContent, 'NgSanitized')"
                    [outputDescriptor]="payloadOutputService.outputDescriptorById(XssContext.HtmlContent, 'NgSanitized')"
                    [payload]="payload"
                    (change)="resetXss()">
                  <template-output-inner-html [payload]="output4.payload"></template-output-inner-html>
                </payload-output>

               <payload-output
                    #output5
                    *ngIf="isActiveOutput(XssContext.HtmlContent, 'NgTrusted')"
                    [outputDescriptor]="payloadOutputService.outputDescriptorById(XssContext.HtmlContent, 'NgTrusted')"
                    [payload]="payload"
                    (change)="resetXss()">
                  <template-output-inner-html [payload]="output5.payload"></template-output-inner-html>
                </payload-output>

                <!-- Outputs with Angular template code: HTML Attributes -->

                <payload-output
                    #output6
                    *ngIf="isActiveOutput(XssContext.HtmlAttribute, 'NgEncodedAttributeValue')"
                    [outputDescriptor]="payloadOutputService.outputDescriptorById(XssContext.HtmlAttribute, 'NgEncodedAttributeValue')"
                    [payload]="payload"
                    (change)="resetXss()">
                  <template-output-paragraph-title [payload]="output6.payload"></template-output-paragraph-title>
                </payload-output>

                <payload-output
                    #output7
                    *ngIf="isActiveOutput(XssContext.HtmlAttribute, 'NgTrustedAttributeValue')"
                    [outputDescriptor]="payloadOutputService.outputDescriptorById(XssContext.HtmlAttribute, 'NgTrustedAttributeValue')"
                    [payload]="payload"
                    (change)="resetXss()">
                  <template-output-paragraph-title [payload]="output7.payload"></template-output-paragraph-title>
                </payload-output>

                <!-- Outputs with Angular template code: URLs -->

                <payload-output
                    #output8
                    *ngIf="isActiveOutput(XssContext.Url, 'LinkNgSanitized')"
                    [outputDescriptor]="payloadOutputService.outputDescriptorById(XssContext.Url, 'LinkNgSanitized')"
                    [payload]="payload"
                    (change)="resetXss()">
                  <template-output-link-url [payload]="output8.payload"></template-output-link-url>
                </payload-output>

                <payload-output
                    #output9
                    *ngIf="isActiveOutput(XssContext.Url, 'LinkNgTrusted')"
                    [outputDescriptor]="payloadOutputService.outputDescriptorById(XssContext.Url, 'LinkNgTrusted')"
                    [payload]="payload"
                    (change)="resetXss()">
                  <template-output-link-url [payload]="output9.payload"></template-output-link-url>
                </payload-output>

                <payload-output
                    #output10
                    *ngIf="isActiveOutput(XssContext.Url, 'IframeNgSanitized')"
                    [outputDescriptor]="payloadOutputService.outputDescriptorById(XssContext.Url, 'IframeNgSanitized')"
                    [payload]="payload"
                    (change)="resetXss()">
                  <template-output-iframe-url [payload]="output10.payload"></template-output-iframe-url>
                </payload-output>

                <payload-output
                    #output11
                    *ngIf="isActiveOutput(XssContext.Url, 'IframeNgTrusted')"
                    [outputDescriptor]="payloadOutputService.outputDescriptorById(XssContext.Url, 'IframeNgTrusted')"
                    [payload]="payload"
                    (change)="resetXss()">
                  <template-output-iframe-url [payload]="output11.payload"></template-output-iframe-url>
                </payload-output>

                <!-- Outputs with Angular template code: CSS -->

                <payload-output
                    #output12
                    *ngIf="isActiveOutput(XssContext.Css, 'BlockNgSanitized')"
                    [outputDescriptor]="payloadOutputService.outputDescriptorById(XssContext.Css, 'BlockNgSanitized')"
                    [payload]="payload"
                    (change)="resetXss()">
                  <template-output-style-block [payload]="output12.payload"></template-output-style-block>
                </payload-output>

                <payload-output
                    #output13
                    *ngIf="isActiveOutput(XssContext.Css, 'BlockNgTrusted')"
                    [outputDescriptor]="payloadOutputService.outputDescriptorById(XssContext.Css, 'BlockNgTrusted')"
                    [payload]="payload"
                    (change)="resetXss()">
                  <template-output-style-block [payload]="output13.payload"></template-output-style-block>
                </payload-output>

                <payload-output
                    #output14
                    *ngIf="isActiveOutput(XssContext.Css, 'AttributeNgSanitized')"
                    [outputDescriptor]="payloadOutputService.outputDescriptorById(XssContext.Css, 'AttributeNgSanitized')"
                    [payload]="payload"
                    (change)="resetXss()">
                  <template-output-style-attribute [payload]="output14.payload"></template-output-style-attribute>
                </payload-output>

                <payload-output
                    #output15
                    *ngIf="isActiveOutput(XssContext.Css, 'AttributeNgTrusted')"
                    [outputDescriptor]="payloadOutputService.outputDescriptorById(XssContext.Css, 'AttributeNgTrusted')"
                    [payload]="payload"
                    (change)="resetXss()">
                  <template-output-style-attribute [payload]="output15.payload"></template-output-style-attribute>
                </payload-output>

                <payload-output
                    #output16
                    *ngIf="isActiveOutput(XssContext.Css, 'AttributeNgStructured')"
                    [outputDescriptor]="payloadOutputService.outputDescriptorById(XssContext.Css, 'AttributeNgStructured')"
                    [payload]="payload"
                    (change)="resetXss()">
                  <template-output-structured-style-attribute [payload]="output16.payload"></template-output-structured-style-attribute>
                </payload-output>

              </div>
            </div>
          </section>



        </div>
      </div>
    </main>

  </article>

  <div class="fd-shell__overlay fd-overlay fd-overlay--alert">
    <div *ngIf="xssTriggered" [id]="'app-component-' + componentId + '-xss-alert'" class="fd-message-strip fd-message-strip--error fd-message-strip--dismissible alert-xss-triggered" role="note">
      <p class="fd-message-strip__text">
        <span *ngIf="xssTriggered > 1" class="fd-counter">{{ xssTriggered }} </span>
        <span> XSS has been triggered! </span>
      </p>
      <button
          (click)="resetXss()"
          [attr.aria-controls]="'app-component-' + componentId + '-xss-alert'"
          class="fd-button fd-button--transparent"
          title="Close">
        <i class="sap-icon--decline"></i>
      </button>
    </div>
  </div>

</div>
