.fd-shell__header {
  height: auto;
}

.fd-shell__header h1 {
  text-align: center;
  font-family: var(--sapFontFamily);
  color: var(--sapHighlightTextColor);
}



.fd-dynamic-page__content.xss-triggered {
  background-color: var(--sapErrorBackground) !important;
}



.input-area textarea.payload {
  box-sizing: border-box;
  height: 30em;
  width: 100%;
  padding: 0.8em;
  resize: vertical;
  border-style: solid;
  border-width: thin;
  border-radius: 0.4rem;
}



.output-area .fd-list__item .filters {
  cursor: inherit;
}

.output-area .fd-list__item .filters span,
.output-area .fd-list__item .fd-list__title span,
.output-area .fd-list__item img.technology-icon {
  vertical-align: middle;
}

.output-area .fd-list__item .filters button {
  margin-left: 8px;
  height: 2em;
}

.output-area .technology-icon {
  width: 1.4em;
  height: 1.4em;
}

.output-area button[aria-selected=true] .technology-icon {
  filter: invert(1);
}

.output-area button[aria-selected=true]:hover .technology-icon {
  filter: unset;
}
