.fd-shell__header h1 {
  text-align: center;
  color: white;
}

article.xss-triggered {
  background-color: rgb(255, 235, 235) !important;
}

.input-area textarea.payload {
  height: 25em;
}

.output-area .fd-list__item .filters {
  cursor: inherit;
}

.output-area .fd-list__item .filters span,
.output-area .fd-list__item .fd-list__title span,
.output-area .fd-list__item img.technology-icon {
  vertical-align: middle;
}

.output-area .fd-list__item .filters button {
  margin-left: 8px;
  height: 2em;
}

.output-area .technology-icon {
  width: 1.4em;
  height: 1.4em;
}

.output-area button[aria-selected=true] .technology-icon {
  filter: invert(1);
}

.output-area button[aria-selected=true]:hover .technology-icon {
  filter: unset;
}
