/* Bootstrap theme customization */

:root {
  /*
    Where not stated otherwise, the following hsv params are used:
    no-suffix:       sat = 80%, val = 55%
    -border-subtle:  sat = 30%, val = 90%
    -bg-subtle:      sat = 10%, val = 90%
  */

  /* hue = 220° */
  --bs-primary:                   #1c418c;
  --bs-primary-rgb:               28, 65, 140;
  --bs-primary-border-subtle:     #a0b7e5;
  --bs-primary-border-subtle-rgb: 160, 183, 229;
  --bs-primary-bg-subtle:         #cdd4e3;
  --bs-primary-bg-subtle-rgb:     205, 212, 227;

  /* hue = 150° */
  --bs-success:                   #1c8c54;
  --bs-success-rgb:               28, 140, 84;
  --bs-success-border-subtle:     #a0e5c3;
  --bs-success-border-subtle-rgb: 160, 229, 195;
  --bs-success-bg-subtle:         #cee5da;
  --bs-success-bg-subtle-rgb:     206, 229, 218;

  /* hue = 355° */
  --bs-danger:                   #b21a26;   /* sat = 85%, val = 70% */
  --bs-danger-rgb:               178, 26, 38;
  --bs-danger-border-subtle:     #e5a0a6;
  --bs-danger-border-subtle-rgb: 229, 160, 166;
  --bs-danger-bg-subtle:         #e4cecf;
  --bs-danger-bg-subtle-rgb:     228, 206, 207;

  /* hue = 55° */
  --bs-warning:                   #ccbb14;   /* sat = 90%, val = 80% */
  --bs-warning-rgb:               204, 187, 20;
  --bs-warning-border-subtle:     #e5dfa0;
  --bs-warning-border-subtle-rgb: 229, 223, 160;
  --bs-warning-bg-subtle:         #e5e3ce;
  --bs-warning-bg-subtle-rgb:     229, 227, 206;

  /* hue = 190° */
  --bs-info:                   #1c798c;
  --bs-info-rgb:               28, 121, 140;
  --bs-info-border-subtle:     #a0d9e5;
  --bs-info-border-subtle-rgb: 160, 217, 229;
  --bs-info-bg-subtle:         #cee1e5;
  --bs-info-bg-subtle-rgb:     206, 225, 229;

  --bs-border-radius:     0.375rem;
  --bs-border-radius-sm:  0;
  --bs-border-radius-lg:  0;
  --bs-border-radius-xl:  0;
  --bs-border-radius-xxl: 0;
}

.form-check-input:checked {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}



/* Element customization */

html {
    font-size: 16px;
}

body {
    margin: 0;
    border: none;
    padding: 0;
}



/* Common styles  */



.quality-icon {
  font-family: "bootstrap-icons";
  font-size: 1.3em;
}

.quality-icon.quality-recommended::before {
  content: "\f531"; /* bi-shield-fill-check */
  color: var(--bs-success);
}

.quality-icon.quality-questionable::before {
  content: "\f506"; /* bi-question-diamond-fill */
  color: var(--bs-warning);
}

.quality-icon.quality-insecure::before {
  content: "\f336"; /* bi-exclamation-octagon-fill */
  color: var(--bs-danger);
}



.technology-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.technology-icon.technology-html {
  background-image: url('/assets/img/html-src-logo-black.svg');
}

.technology-icon.technology-dom {
  background-image: url('/assets/img/dom-logo-black.svg');
}

.technology-icon.technology-jquery {
  background-image: url('/assets/img/jquery-logo-black.svg');
}

.technology-icon.technology-angular {
  background-image: url('/assets/img/angular-logo-solid-black.svg');
}



.help-icon::before {
  content: "\24D8";
}

.help-icon {
  vertical-align: middle;
  font-size: 1.5rem;
  font-style: normal;
  opacity: 0.8;
  cursor: help;
}

.help-icon:hover,
.help-icon:focus {
  opacity: 1;
}



.output-area .live-output iframe {
    width: 100%;
    height: 60em;
    border: var(--bs-danger) dashed 5px;
}
