html {
    font-size: 16px;
}

body {
    margin: 0;
    border: none;
    padding: 0;
}

.output-area .live-output iframe.xss-demo-guest {
    width: 100%;
    height: 60em;
    border: var(--bs-danger) dashed 5px;
}

.quality-icon.quality-recommended::before {
  content: "\2714";
}

.quality-icon.quality-questionable::before {
  content: "\2370";
}

.quality-icon.quality-insecure::before {
  content: "\26A0";
}
