.target ul.status li {
    display: none;
}

.target ul.status.has-target li.has-target,
.target ul.status.has-target li.target-origin,
.target ul.status.has-target li.target-effective-domain,
.target ul.status.has-no-target li.has-no-target,
.target ul.status.xss-available li.xss-available,
.target ul.status.xss-unavailable li.xss-unavailable,
.target ul.status.xss-invoked li.xss-invoked,
.target ul.status.xss-not-invoked li.xss-not-invoked,
.target ul.status.xss-success li.xss-success,
.target ul.status.xss-error li.xss-error {
    display: list-item;
}

.target ul.status li code {
    font-weight: bold;
}
